@font-face {
  font-family: "Neighbour Bold";
  src: url("/theme_muskathlon/static/src/fonts/NeighbourSans-Bold.woff2")
    format("woff2");
}
@font-face {
  font-family: "Neighbour ExtraBold";
  src: url("/theme_muskathlon/static/src/fonts/NeighbourSans-ExtraBold.woff2")
    format("woff2");
}
@font-face {
  font-family: "Neighbour Medium";
  src: url("/theme_muskathlon/static/src/fonts/NeighbourSans-Medium.woff2")
    format("woff2");
}
@font-face {
  font-family: "Neighbour Regular";
  src: url("/theme_muskathlon/static/src/fonts/NeighbourSans-Regular.woff2")
    format("woff2");
}
