h2,
h3 {
  font-weight: 600;
  text-transform: uppercase;
}
.rounded {
  border-radius: 2rem !important;
}
header .btn {
  font-size: 1rem;
}

.lang-selector img {
  height: 1.5rem;
  width: 1.5rem;
}

.bg-secondary .form-check * {
  color: white;
}

.bg-secondary .text-danger {
  color: white !important;
}
