# Version control
.git
.hg
.svn

# Python artifacts
__pycache__/
*.py
*.pyc
*.pyo
*.pyd

# Node.js
node_modules/
package-lock.json
package.json

# Build artifacts & Odoo specifics
build/
dist/
*.egg-info/
.copier-answers.yml
dist-packages/
i18n/*.pot
data/
demo/
security/

# Other languages that might have their own formatters
*.js
*.css
*.scss
*.md
*.txt